.marquee {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.track {
    display: flex;
    width: calc(250px * 18);
    animation: marquee 30s linear infinite;
}

.item {
    flex: 0 0 250px; 
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}